@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

html, 
body {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: "Marcellus", serif;
}

.wrapper {
    width: 1024px;
    margin: auto;
    padding: 20px 0px 20px 0px;
}

/*
* menu
*/
nav {
    background-color: #60B5FF;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
}
nav > .wrapper {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    align-items: center;
}
.menu {
    width: auto;
}
.menu > ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: right;
}

.menu > ul > li > a {
     text-decoration: none;
     color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo > img {
 height: 45px;
 gap: 10px;
}

.brand-name {
    font-size: 1.5rem;
    font-family: "Marcellus", serif;
    color: #fff;
    letter-spacing: 1px;
    list-style-type: none;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
/*
*teks atau background
*/
header {
    background: url("../images/bg.jpg");
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no repeat;
    position: relative;
    letter-spacing: 10px;
}

.header-opacity {
    background-color: #111;
    width: 100%;
    height: 100%;
    opacity: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.header-teks1 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.header-teks1 > h4 {
    color: #fff;
    font-size: 2rem;
    margin: 0px;
    padding: 5px;

}

.header-teks1 > h1 {
    color: #fff;
    font-size: 5rem;
    margin: 0px;
    padding: 0px;
}

#teks-produk {
background-color: #111;
backdrop-filter: blur 50px;
}

#teks-produk > .wrapper >h4 {
    text-align: center;
    color: #ffffff;
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
    }

.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 50px; 
    padding: 5%;
    background-color:#000000 ;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.grid > .item {
    border: 0px solid #666;
    background-color: #fff;
    border-radius: 15px;
    padding: 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 18px;
    width: 250px;
    transition: transform 0.3s;
    text-decoration: none;
    color: inherit;
}

.grid .item img {
    width: 90%;   
    position: center;
    top: 0px;
    right: 10px;
    padding: 20px;
    margin: 0px;
}

.item-detail h3 {
    font-weight: normal;
    margin: 5px 0;
  }

.item-detail p {
padding: 0px;
margin: 0px;
font-size: 2rem;
font-weight: bold;
}

  .item h3, .item p {
    text-decoration: none;
    color: black;
    margin: 5px 0; 
    padding: 0;      
    line-height: 1.2
  }

  .item:hover {
    transform: scale(1.05);
  }
  
  
  